/* @import url('https://fonts.googleapis.com/css?family=Mukta'); */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(120deg, #7fadf3, #e68df0);
    margin: 0px;
    padding: 0px;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

/* Main game rectangle and numbers */
.game-main {
    background: linear-gradient(120deg, #7fadf3, #e68df0);
    height: 100%;
    width: 100%;
}

.rectangle {
    height: 100vh;
    width: 100vw;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content:center;
    align-items: center;
}

.number {
    color: black;
    font-size: 80vh;
    padding-bottom: 5vw;
}

/* Statistics window + statistics numbers + button */
.stats-rectangle {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    max-width: 500px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    justify-content:center;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;
}

.stats-rectangle h1 {
    
    font-size: 250%;
    text-align: center;
    color: rgb(61, 61, 61);
    padding: 1% 0 1% 0;
    margin: auto;
    border-bottom: 3px solid rgb(0, 0, 0);
}

.answer h2 {
    text-align: center;
    color: rgb(0, 0, 0);
}

.correct-answer {
    font-size: 10vh;
    text-align: center;
    color: rgb(0, 0, 0);
    margin:auto;
    padding: 1% 0 1% 0;
    border-bottom: 1px solid silver;
    border-top: 1px solid silver;
    
}

.time h2 {
    text-align: center;
    color: rgb(0, 0, 0);
}

.avg-time {
    font-size: 10vh;
    text-align: center;
    color: rgb(0, 0, 0);
    margin:auto;
    padding: 1% 0 1% 0;
    border-bottom: 1px solid silver;
    border-top: 1px solid silver;
    
}

input[id="next-button"] {
    display: none;
    width: 100%;
    height: 50px;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 5px solid;
    background: #f85c5c;
    border-radius: 25px;
    font-size: 20px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

input[id="next-button"]:hover {
    border-color: #fd9d9d;
    color: black;
    transition: .2s;
}